.container{
    height: 85%;
    width: 100%;
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: scroll;

    .admin_icons{
        position: absolute;
        display: flex;
        right: 0;

        .edit{
            color: #28a745;
            cursor: pointer;
        }

        .delete{
            color: #dc3545;
            cursor: pointer;
        }
    }
}

.container{
    overflow-y: scroll;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container::-webkit-scrollbar:vertical {
    width:7px;
}

.container::-webkit-scrollbar-button:increment,.container::-webkit-scrollbar-button {
    display: none;
} 

.container::-webkit-scrollbar:horizontal {
    height: 8px;
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--color-ld);
    border-radius: 50px;
}