.container{
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    position: relative;

    .selection{
        background-color: var(--color-ld);
        width: 20%;
        height: 100%;
        border-left: 1px solid var(--color-md);
        position: absolute;
        z-index: 2;
        right: 10%;
        top: 0;
        display: flex;
        flex-direction: column;

        .selection_option{
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #00000090;
            cursor: pointer;

            &:nth-child(2){
                border-top: 1px solid var(--color-md);
            }

            &.option_active{
                background-color: var(--color-ld);
            }

            p{
                word-wrap: break-word;
                text-align:center;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .container{
        width: 100%;
        flex-direction: column-reverse;

        .selection{
            position: relative;
            width: 100%;
            height: 10%;
            flex-direction: row;
            right: 0;
            border: none;

            .selection_option{
                height: 100%;
                width: 50%;

                &:nth-child(2){
                    border: none;
                }
                
            }
        }
    }
}