.card{
    width: 32%;
    height: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-ld);
    cursor: pointer;
    transition: all .3s;
    position: relative;

    .blank_div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &:hover{
        background-color: var(--color-md);
    }

    .link_icon{
        height: 20%;
        margin-bottom: 20px;
    }

    h2{
        font-size: 18px;
    }
}

@media screen and (max-width: 600px){
    .card{
        width: 49%;
        height: 32%;
    }
}