.presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
    width: 43%;
    
    h1{
        font-size: 50px;
        font-style: italic;
    }
    h2{
        font-size: 35px;
        white-space: pre-line;
    }

    p{
        line-height: 25px;
    }
}

@media screen and (max-width: 600px){
    .presentation{
        width: 100%;
        justify-content: space-evenly;

        h1{
            font-size: 30px;
        }

        h2{
            font-size: 25px;
        }
    }
}