.nav{
    width: 35%;
    ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        font-size: 20px;

        li{
            cursor: pointer;
            display: flex;

            div{
                display: flex;
            }
        }
        
    }
}

@media screen and (max-width: 600px){
    .nav{
        ul{
            justify-content: flex-end;

            li{
                margin-right: 10px;

                &:last-child{
                    margin-right: 0px;
                }
                
                p{
                    display: none;
                }
            }
        }
    }
}