.info{
    display: flex;

    div{
        width: 50%;
        box-sizing: border-box;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.about{
            width: 50%;

            p{
                line-height: 20px;
            }
        }

        h3{
            font-size: 25px;
            text-align: center;
            margin-bottom: 20px;
            color: var(--color-vl);
        }

        ul{
            li{
                &:not(:nth-child(1)){
                    margin-top: 10px;
                }

                text-align: center;
                transition: all .5s;

                &:hover{
                    color: var(--color-vl);
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .info{
        flex-direction: column;

        div{
            width: 100%;

            &.about{
                margin-bottom: 15px;
                width: 100%;
            }

            ul{
                li{
                    &:not(:nth-child(1)){
                        margin-top: 10px;
                    }
    
                    text-align: center;
                    transition: all .5s;
    
                    &:hover{
                        color: var(--color-vl);
                    }
                }
            }
        }
    }
}