@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* 
  --color-d: #152024;
  --color-ld: #162124;
  --color-md: #9C6240 ;
  --color-ll: #606B6E;
  --color-l: #333D40;
  --color-vl: #ececec;
*/

:root{
  --color-d: #111A29;
  --color-ld:  #192230;
  --color-md: #2B3444 ;
  --color-ll: #5A616B;
  --color-l: #636972;
  --color-vl: #ececec;
}

body{
  background-color: var(--color-d);
  color: var(--color-vl);
  font-family: 'Ubuntu', sans-serif !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 100000000s ease-in-out 0s;
}

main{
  padding: 70px 12% 0px;
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
}

.markdown_editor{
  height: 100vh;
  width: 60vw;
  background: var(--color-d);
  padding: 40px;
  overflow: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */